[submodule "geo-filter-twitter"]
	path = geo-filter-twitter
	url = https://github.com/dem1995/geo-filter-twitter.git
	branch = master
[submodule "twitter-userdoc-creator"]
	path = twitter-userdoc-creator
	url = https://github.com/dem1995/twitter-userdoc-creator.git
	branch = main
[submodule "megacov-filter"]
	path = megacov-filter
	url = https://github.com/dem1995/megacov-filter.git
	branch = master
[submodule "GeoCov-v2"]
	path = GeoCov-v2
	url = https://github.com/dem1995/GeoCov-v2
	branch = main
[submodule "extract-geotagged-tweets"]
	path = extract-geotagged-tweets
	url = https://github.com/dem1995/extract-geotagged-tweets.git
	branch = master
[submodule "month-organizer-twitter"]
	path = month-organizer-twitter
	url = https://github.com/dem1995/month-organizer-twitter.git
	branch = main
